.DS_Store
/.build
**/.build/
**/.swiftpm/
*.xcresult
*.xcuserstate
.env
.env.*
.preview-build/
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/xcuserdata
